body{ 
    background-color:#EAF6F6;  
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    width:15%;
}
h1{
    background-color:#EAF6F6;
    color:blue;
}
h3{
    background-color:#EAF6F6:;
    color:blue;
}